@import url(./reset.css);

/* Layout Visualization Helpers */
body {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    outline: 1px dashed #ddd;
}

header, main, aside, footer {
    outline: 1px dashed #ccc;
}

/* Defaults */
h1 { font-size: 3.4em }

h2 { font-size: 2.1em }

p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0.5em 0;
}

a {
    color: #007bff;
}

a:hover {
    color: #005bbc;
}

/* USING FLEXBOX */
/* Header */
header {
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;
    align-items: center;
        
}


/* Header Nav */
header > nav {
    background-color: #b3dafe;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

header > nav > ul {
    display: flex;

}

header > nav > ul > li > a {
    display: flex;
    width: 60px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

header > nav > ul > li > a:hover {
    background-color: #8cc7ff;
}

/* Header H1 */
header > h1 {
    margin: 1em 0;
}

/* Main/Aside Layout */
.content {
    margin-bottom: 1em;
    display: flex;
}

main {
    width: 70%;
    order: 2;
}

aside {
    width: 30%;
    order: 1;
}

/* Footer */
footer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer Nav */
footer > nav > ul {
    display: flex;
    gap: 1em;
    outline: 1px dashed #ccc;
}